@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #1c2128;
  --cor-secundaria: #cdd9e5;
  --cor-terciaria: #06CF9C;

  --fonte-primaria: "Krona One", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /
}

/* Estilo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: none; 
}

/* Estilo do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: var(--cor-terciaria); 
  border-radius: 6px;
}


body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

/* Adicione seus estilos padrão aqui */

.dark-mode img {
  display: none;
}

.light-mode img {
  display: none;
  color: #000;
}

.cabecalho {
  padding: 1% 0% 0% 15%;
}

.cabecalho__tema {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.cabecalho__tema__icone {
  cursor: pointer;
}

.cabecalho__menu {
  display: flex;
  gap: 5rem;
}

.cabecalho__menu__link {
  position: relative;
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.cabecalho__menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; 
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, transparent 50%, var(--cor-terciaria) 50%); 
  background-size: 200% 100%;
  transition: background-position 0.3s ease; 
}

.cabecalho__menu__link:hover::before {
  background-position: -100% 0; 
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  animation-duration: 0.5s;
  animation-name: sectionLeft;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
  text-align: justify;
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--font-secundaria);
  text-align: justify;
}

.apresentacao__conteudo__texto ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--font-secundaria);
  transition: box-shadow 0.3s ease;
}

.apresentacao__links__navegacao .icone {
  color: var(--cor-terciaria);
  font-size: 2.2rem;
  border-radius: 7px;
}

.apresentacao__links__navegacao:hover {
  box-shadow: 0 0 10px 2px var(--cor-terciaria);
}

.imagem__apresentacao {
  border: 3px solid var(--cor-terciaria);
  border-radius: 16px;

  animation-duration: 0.5s;
  animation-name: sectionRight;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.imagem__apresentacao img {
  width: 100%;
  border-radius: 16px;
  margin: 15px 15px -25px -10px;
}

.rodape {
  padding: 10px 0;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--font-secundaria);
  font-size: 1.125rem;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  width: 100%;

  animation-duration: 1s;
  animation-name: bottom;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes sectionLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes sectionRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes bottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 530px) {
  .cabecalho__menu {
    gap: 1.5rem;
  }
  .cabecalho__menu__link{
    font-size: 1.2rem;
  }

  .apresentacao__conteudo__titulo{
    font-size: 1.7rem;
  }

  .apresentacao__conteudo__texto {
    font-size: 1.2rem;
  }

  .apresentacao__links__subtitulo {
    font-size: 1.2rem;
  }

  .apresentacao__links__container{
    flex-direction: row;
    width: 60%;
    padding-bottom: 2rem;
  }

  .imagem__apresentacao{
    display: flex;
    justify-content: center;
    border: none;

  }

  .imagem__apresentacao img{
    width: 70%;
    border: 8px solid #fff;
    margin: 0;
    border-radius: 50%;
  }

 .apresentacao__links{
    border: none;
  }
  .apresentacao__links__navegacao{
    border: none;
  }

  .apresentacao__links__navegacao span{
    display: none;
  }
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 2% 0% 0% 0%;
  }
  .cabecalho__menu {
    justify-content: center;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}

@media (max-width: 1500px) {
  .apresentacao {
    padding: 5%;
  }
}
